/* Write your CSS here */
.table-header-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}
.table-header-cell-item {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
  margin-right: 8px;
}
.delete-btn {
  background-color: #ffffff;
  padding: 24px;
  border: none;
}
.delete-img {
  width: 45%;
}
