/* Write your CSS here */
.user-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 12px;
  height: 10%;
  background-size: cover;
}
.money-cards {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  margin: 5px;
}
.money-image {
  width: 45px;
  height: 45px;
  margin-right: 12px;
}
.money-type {
  margin-bottom: 0px;
}
.money-items-cards {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.expenses-card {
  background-color: #7c3aed;
}
.income-card {
  background-color: #06b6d4;
}
.balance-card {
  background-color: #84cc16;
}
